In [2]:
print("hello world")

hello world

In [ ]:
Introduction to python programming :

In [ ]:
understanding the variables in python

In [27]:
x = 2
y = 3
z = x+y

print(z)

5

In [19]:
Rule no - 1 : No Namespaces while declaring the variables

SyntaxError: invalid syntax (2456932308.py, line 1)

In [21]:
first name = "mujeeb"
print(first name)

SyntaxError: invalid syntax (2960907427.py, line 1)

In [23]:
firstname = "mujeeb"
print(firstname)

mujeeb

In [7]:
first_name = "mujeeb"
print(first_name)

mujeeb

In [ ]:
Rule no : 2 = A variable name should not start with a number **

In [9]:
1name = "mujeeb"
print(1name)

SyntaxError: invalid decimal literal (971968874.py, line 1)

In [11]:
name1 = "mujeeb"
print(name1)

mujeeb

In [ ]:
Rule no : 3 = A varaible name should not contain any special characters

In [ ]:
 @ # $ % ^ & *

In [13]:
name@ = "mujeeb"
print(name@)

SyntaxError: invalid syntax (2084999834.py, line 1)