In [ ]:
Introduction to datatypes : 

1. Strings ==== > str
2. Numbers ====> intrgers  (int)  and floats (decimals)  0.1 , 0.2,1.5
3. List =====> list
4. Tuples =====> tuple
5. Dictioneries =====>  dict

In [3]:
classification of datatypes :

Broadly datatypes are classified into two categories :

1. mutable datatypes ===> which we can able to edit / alter  ====> flexible in nature

2. immutable datatypes ===> which we cannot able to edit / alter  ===> fixed in nature

SyntaxError: invalid syntax (3080121914.py, line 1)

In [ ]:
Note : python is case sensitive programming language

In [8]:
introduction to string datatype :

definition : => A string is a series of character declared in quotes

classification : =>it is classified as an immutable datatype 

how to declare the string datatype ------->?

1. single quote ====> ' '

2. double quotes ====> " "

SyntaxError: invalid syntax (2984143446.py, line 1)

In [12]:
name = 'raju' #single quote

print(name)

raju

In [43]:
name2 = "joseph" #double quotes

print (name2)

joseph

In [18]:
# is used for commenting the code

In [21]:
name2 = "joseph" double quotes

print(name2)

SyntaxError: invalid syntax (350646013.py, line 1)

In [ ]:
introduction to string methods :

In [37]:
type(name)

str

In [45]:
type(name2)

str

In [ ]:
type method is used to verify and validate what kind of datatype it is .

In [47]:
fullname = 'ashwin raj'

print(fullname)

ashwin raj

In [49]:
print(fullname.title())

Ashwin Raj

In [51]:
# requirement : i want entire name in capitals

In [54]:
print(fullname.upper())

ASHWIN RAJ

In [56]:
# requirement : i want entire name in small case letters

In [59]:
print(fullname.lower())

ashwin raj